Source: ospurge
Maintainer: Florent Flament <florent.flament@cloudwatt.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.3), dh-venv, python-dev, libffi-dev
Standards-Version: 3.9.1

Package: ospurge
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: OpenStack resources cleanup script
 ospurge: OpenStack project resources cleaner
 ============================================
 .
 `ospurge` is a standalone, client-side, Python script that aims at
 deleting all resources (taking into account their interdependencies)
 in a specified OpenStack project. OSPurge ensures in a quick and
 automated way that no resource is left behind when a project is
 deleted.
 .
 `ospurge` can be used by a cloud administrator (with the admin role)
 to cleanup any project or by a non-privileged user to cleanup his own
 project.
 .
 Installation
 ------------
 .
 Create a Python virtual environment (requires package virtualenvwrapper):
 .
     $ mkvirtualenv ospurge
 .
